@using Dystopia.Hubs
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin console</title>
    </head>
    <body>
        <p><span id="playerCount">@PolytopiaHub.OnlinePlayers.Count</span> Players online</p>

        <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/adminhub")
            .build();
        connection.on("ReceivePlayerCount", (count) => {
            document.getElementById("playerCount").textContent = count;
        });
        connection.start()
            .then(() => console.log("Connected to admin hub"))
            .catch(err => console.error("adminhub couldnt connect: ", err.toString()));
    </script>
    </body>
</html>